.main {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.componentform {
  height: 400px;
  width: 370px;
  background: rgb(35,42,51);
  background: radial-gradient(circle, rgba(35,42,51,1) 0%, rgba(23,29,36,1) 100%);  
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.imgboxformcomponent {
  height: 50px;
  width: 50px;
  background-color: #262f38;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.description {
  color: #616872;
  font-size: .9rem;
}

.btn, .componenttks button {
  background-color: #f37512;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all .2s;
  font-weight: 600;
}

.ratebox {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ratebox label span{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: #262f38;
  color: #616872;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;
  display: grid;
  place-items: center;
}

.ratebox input{
  display: none;
}

.ratebox label span:hover{
  background-color: #f37512;
  color: #fff;
}


.btn:hover, .componenttks button:hover {
  background-color: #9c4401;
}

.ratebox input[type="radio"]:checked + span {
  background-color: #f37512;
  color: #fff;
}

.componenttks {
    height: 400px;
    width: 370px;
    background: rgb(35,42,51);
    background: radial-gradient(circle, rgba(35,42,51,1) 0%, rgba(23,29,36,1) 100%);  
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.resume {
  color: #f39247;
  font-size: .9rem;
  background-color: #262f38;
  width: 180px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 30px;
}